@import url("https://fonts.googleapis.com/css?family=Fjalla+One&display=swap");
* {
  margin: 0;
  padding: 0; }
html {
    
}
body {
  background: url("img/stepnbg.jpg") no-repeat center center fixed;
  
  background-size: cover;
  width: 100vw;
  height: 100vh;
  display: grid;
  align-items: center;
  justify-items: center; }

  img {
      width: 300px;
      height: 100px;
  }
.contact-us {
  background: white;
  padding: 50px 30px;
  border: 2px solid black;
  box-shadow: 15px 15px 1px #ffa580, 15px 15px 1px 2px black; 
    min-width: fit-content;
  min-height: 60vh}

input {
  display: block;
  width: 100%;
  font-size: 14pt;
  line-height: 28pt;
  font-family: "Fjalla One";
  margin-bottom: 28pt;
  border: none;
  border-radius: 10px;
  border-top: 3px solid black;
  border-right: 2px solid black;
  border-left: 2px solid black;
  border-bottom: 5px solid black;
  background: #f8f4e5;
  min-width: 250px;
  padding-left: 5px;
  outline: none;
  color: black; }

input:focus {
  border-bottom: 5px solid #ffa580; }

button {
  display: block;
  margin: 0 auto;
  line-height: 28pt;
  padding: 0 20px;
  background: rgb(7, 204, 7);
  letter-spacing: 2px;
  transition: .2s all ease-in-out;
  outline: none;
  border-radius: 10px;
  border-top: 3px solid black;
  border-right: 2px solid black;
  border-left: 2px solid rgb(19, 11, 11);
  border-bottom: 5px solid black;
  
}

  button:hover {
    background: black;
    color: white;
    border: 1px solid black; 
    text-decoration: none;}

::selection {
  background: #ffc8ff; }

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus {
  border-bottom: 5px solid #95a4ff;
  -webkit-text-fill-color: #2A293E;
  -webkit-box-shadow: 0 0 0px 1000px #f8f4e5 inset;
  transition: background-color 5000s ease-in-out 0s; 
}
h1 {
    font-family: 'Bebas Neue', cursive;
    font-style: italic;
    font-weight: bolder;
    text-align: center;
}
.liltext {
    font-family: 'Bebas Neue', cursive;
    font-style: italic;
    color:rgb(146, 148, 150);
    padding-bottom: 15px;
    text-align: center;
}
#demo{
    font-family: 'Bebas Neue', cursive;
    font-style: italic;
    color:rgb(146, 148, 150);
    padding: 15px 0;
    text-align: center;
}
  @media only screen and (max-width: 650px) {
    .contact-us{
        width: 300px;
        height : 50%;
        vertical-align: middle;
    }
    button{
        margin-top: 20px;
    }
  }

.btn_2{
    display: block;
    margin: 0 auto;
    line-height: 28pt;
    padding: 0 20px;
    background: rgb(7, 204, 7);
    letter-spacing: 2px;
    transition: .2s all ease-in-out;
    outline: none;
    border-radius: 10px;
    border-top: 3px solid black;
    border-right: 2px solid black;
    border-left: 2px solid rgb(19, 11, 11);
    border-bottom: 5px solid black;   
    margin: 10px 0;
    text-decoration: none;
}
.btn_2:hover{
    text-decoration: none;
}
input[type=text] {
    width: 100%;
    height: 150px;
    padding: 12px 20px;
    box-sizing: border-box;
    border: 2px solid black;
    border-radius: 4px;
    background-color: white;
    font-size: 16px;
    resize: none;
  }
